In [5]:
import pandas as pd
import numpy as np

np.random.seed(42)

jumlah_data = 1000

data = pd.DataFrame({
    'Usia': np.random.randint(18, 65, size=jumlah_data),
    'Pendapatan': np.random.normal(5000000, 1500000, size=jumlah_data).astype(int),
    'Jenis_Kelamin': np.random.choice(['Laki-laki', 'Perempuan'], size=jumlah_data),
    'Status_Pernikahan': np.random.choice(['Lajang', 'Menikah', 'Bercerai'], size=jumlah_data),
    'Tingkat_Pendidikan': np.random.choice(['SMA', 'S1', 'S2', 'S3'], size=jumlah_data),
    'Status_Pekerjaan': np.random.choice(['Bekerja', 'Pengangguran', 'Wirausaha', 'Mahasiswa'], size=jumlah_data),
    'Skor_Kredit': np.random.randint(300, 850, size=jumlah_data),
    'Jumlah_Rekening_Bank': np.random.randint(1, 6, size=jumlah_data),
    'Jumlah_Pinjaman': np.random.normal(15000000, 5000000, size=jumlah_data).astype(int),
    'Gagal_Bayar': np.random.choice([0, 1], size=jumlah_data, p=[0.85, 0.15])  # 0 = Tidak, 1 = Ya
})

print("Contoh data:")
print(data.head())

print("\nStatistik deskriptif:")
print(data.describe(include='all'))

Contoh data:
   Usia  Pendapatan Jenis_Kelamin Status_Pernikahan Tingkat_Pendidikan  \
0    56     6509439     Perempuan           Menikah                SMA
1    46     4134662     Perempuan            Lajang                SMA
2    32     6253538     Laki-laki          Bercerai                 S1
3    60     3305439     Perempuan          Bercerai                 S3
4    25     5794706     Perempuan           Menikah                 S2

  Status_Pekerjaan  Skor_Kredit  Jumlah_Rekening_Bank  Jumlah_Pinjaman  \
0     Pengangguran          671                     2         11932061
1     Pengangguran          505                     3         15981204
2        Wirausaha          342                     4         17728933
3          Bekerja          544                     5          4142142
4     Pengangguran          586                     4         14959433

   Gagal_Bayar
0            0
1            0
2            0
3            1
4            0

Statistik deskriptif:
               Usia    Pendapatan Jenis_Kelamin Status_Pernikahan  \
count   1000.000000  1.000000e+03          1000              1000
unique          NaN           NaN             2                 3
top             NaN           NaN     Laki-laki            Lajang
freq            NaN           NaN           505               346
mean      40.986000  5.123805e+06           NaN               NaN
std       13.497852  1.494858e+06           NaN               NaN
min       18.000000  6.556160e+05           NaN               NaN
25%       29.000000  4.138722e+06           NaN               NaN
50%       42.000000  5.114620e+06           NaN               NaN
75%       52.000000  6.071730e+06           NaN               NaN
max       64.000000  8.948573e+06           NaN               NaN

       Tingkat_Pendidikan Status_Pekerjaan  Skor_Kredit  Jumlah_Rekening_Bank  \
count                1000             1000  1000.000000           1000.000000
unique                  4                4          NaN                   NaN
top                    S2        Mahasiswa          NaN                   NaN
freq                  257              266          NaN                   NaN
mean                  NaN              NaN   577.286000              3.032000
std                   NaN              NaN   161.841048              1.418093
min                   NaN              NaN   300.000000              1.000000
25%                   NaN              NaN   432.500000              2.000000
50%                   NaN              NaN   572.000000              3.000000
75%                   NaN              NaN   726.250000              4.000000
max                   NaN              NaN   849.000000              5.000000

        Jumlah_Pinjaman  Gagal_Bayar
count      1.000000e+03  1000.000000
unique              NaN          NaN
top                 NaN          NaN
freq                NaN          NaN
mean       1.490420e+07     0.141000
std        4.971464e+06     0.348196
min       -8.835190e+05     0.000000
25%        1.170168e+07     0.000000
50%        1.490800e+07     0.000000
75%        1.827398e+07     0.000000
max        3.056455e+07     1.000000